@{Layout = "_Layout";}
@using Recipes.Domain.Queries
@using Recipes.Web
@{
    <h1>Recipes</h1>
    <ul>
        @foreach (RecipeQuery recipe in Model)
        {
            <li>
                <h2><a href="~/recipes/@RecipeUtils.ConvertTitleToUrl(recipe.Title)">@recipe.Title</a></h2>
                <p>@recipe.Description</p>
            </li>            
        }
    </ul>
}
