<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='robots' content='noindex'>
  </head>
  <body>
    <div id='main'>{{{ app }}}</div>
  </body>
</html>
